body{
	background-color:#4e968b;
	background-image: url("http://www.pptback.com/uploads/white-pattern-backgrounds-powerpoint.jpg");
}


.jumbotron{
	background-color: #206057;
	width: 100%;
	color: #FFAB00;
    border-style: groove;
    border-color: transparent;
}

nav ul li:first-child { float: left; }

nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}

}
.links{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-3{
	font-family: 'Tauri', sans-serif;
	text-shadow: 2px 2px  #1E3C38;
}

.input-group-btn{
	box-
}


.footer{
	position: fixed;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 100%;
    background-color:#a0a5a5;
    font-family: 'Source Serif Pro', serif;
    font-size: 12px;
}

img {
    max-width: 30%;
    height: auto;
}

.item {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px; 
}

#map-canvas {
	height:250px; margin:0; padding:0; width: 100%;
	background-color: white;
		}


#weather {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 24px;
}